fastapi
uvicorn[standard]
python-multipart
librosa
soundfile
numpy
torch
torchvision
qiskit
qiskit-machine-learning
qiskit-aer
supabase
python-dotenv
Pillow
scipy
pydantic
aiofiles
websockets
uuid6
matplotlib
scikit-learn
pydub
av
